* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #c8e6c9;
}

.requests-table {
    position: relative;
    top: -10px;
    left: 180px;
}

.update-button {
    position: relative;
    top: 20px;
    left:600px;
}

a {
    text-decoration: none;
    color: black;
}

#ID {
    width: 0.5%;
    text-align: left;
}

#details {
    width: 10%;
    text-align: left;
}

#status {
    width: 10%;
    text-align: left;
}
