* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #c8e6c9;
}

.update-button {
    position: relative; 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    top: 15px;
}

.details {
    width: 400px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.edit-status {
    position: relative;
    left: 180px;
}

.status {
    position: relative;
    left: 500px;
    bottom: 130px;
}

a {
    text-decoration: none;
}

