* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.new-request-form {
    position: absolute;
    left: 180px;
}

.device-type {
    padding-top: 0px;
}

.fault-description {
    padding-top: 15px;
    padding-bottom: 15px;
}

.submit-button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
}

.device-type label.device-type{
    width: 400px;
}


.device-type input.device-type{
    width: 400px;
    padding: 5px;
}

.fault-description label.device-type{
    width: 400px;
}

.fault-description input.fault-description{
    width: 400px;
    padding: 5px;
}


